*{
    margin: 0;
    padding: 0;
}
.first{
    width: 1728px;
    height: 100vh;
}
header{
    height: 244px;
    width: 100%;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    height: 100vh;
    background: #6c6c6c;
    display: flex;
    justify-content: space-between;
}
footer{
    height: 244px;
    width: 100%;
    background: silver;
}
.wrap_2_1{
    width: 464px;
    height: 100vh;
    background: #8f8f8f;
}
.wrap_2_2{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrap_2_2_1{
    height: 292px;
    width: 802px;
    background: #654865;
}
.wrap_2_2_2{
    height: 292px;
    width: 802px;
    background: #a375a3;
}
.wrap_2_2_3{
    height: 292px;
    width: 802px;
    background: #7a567a;
}
h2{
    color: white;
    font-family: Inter;
    font-size: 45px;
}
.justufy_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_2_1_1{
    width: 100%;
    height: 50vh;
    background: #7F7A7A;
}
.wrap_2_1_2{
    width: 100%;
    height: 50vh;
    background: #615050;
}
.stovids{
    width: 100%;
}
.fifty_proc{
    width: 50%;
}
.black_backgr{
    color: black;
}
.fifty_pix{
    height: 50px;
}
.one_eleven{
    height: 111px;
    background: #D9D9D9;
}
.onethit{
    height: 133px;
    background: #AFA9A9;
}
.one{
    background: #A4A4A4;
    height: 100%;
    width: 50%;
}
.two{
    background: #C1C1C1;
    width: 50%;
}
.height_50{
    height: 50%;
}